/* gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    background-color: #1E1E1E;

    padding: 60px 0;

    display: grid;
    justify-content: center;
}

/* header */


h1 {
    font-weight: 900;
    font-size: 56px;
    line-height: normal;
    color: #02799D;
    margin-bottom: 8px;
}

header p {
    font-weight: 600;
    font-size: 32px;
    line-height: normal;
    color: #E1E1E6;
    margin-bottom: 60px ;
}

/* main */

main {
    display: grid;

    grid-template-columns: repeat(3, 366px);
    grid-template-rows: repeat(2, 1fr); /* não necessário colocar, bastava as colunas, a linha seria criada automaticamente */

    column-gap: 60px;
    row-gap: 40px;

    place-content: center;
}

.card {
    background-color: #202024;
    border: solid 2px #323238;
    border-radius: 8px;
}

img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    /* poderia utilizar overflow: hidden; também */
}

.card-text {
    padding: 24.5px 22.5px 38.5px 22.5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* Não necessário modificar a estrutura com esssa nova classe, bastava aplicar esse padding a todos os p e h2 */
}

.card h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: normal;
    color: #E1E1E6;
}

.card p {
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    color: #C4C4CC;
}


